body {
    font-family: 'Roboto', sans-serif;
    background-color: #43ffa7;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    background-image: url('img/digital-red-circuit-lines-technology-background-design_1017-27263.jpg'); /* Tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px;
    background-color: rgba(175, 248, 133, 0.8); /* Fondo blanco con transparencia */
    border-radius: 10px;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: transparent; /* Fondo transparente para que se vea el fondo de body */
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid white;
}

.name-section h1 {
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.name-section h3 {
    margin: 5px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.container.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: url(img/fondo5.jpg); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    text-align: left;
}

h2 {
    color: #123456;
    border-bottom: 2px solid #c20000;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

p img {
    vertical-align: middle;
    margin-right: 10px;
}

body, h1, h2, h3, p, ul, li {
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

p, li {
    font-size: 16px;
    color: #333;
}

a {
    color: #123456;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
    }
    .profile-img {
        margin: 0 auto 10px;
    }
}

/* Configuración para impresión */
@media print {
    body {
        background-color: white;
    }
    .container {
        box-shadow: none;
        border: none;
        background: none;
    }
    .profile-header, .container.content {
        background: none;
    }
    .name-section h1, .name-section h3, h2, p, li {
        color: black;
    }
}
